.stButton button {
    /* width: 10vw;
    height: 6vh;
    min-height: 40px;
    min-width: 80px; */
    background: transparent;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-self: center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.stButton button:hover {
    transform: scale(1.1);
}

.stMarkdownContainer h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

div[class="row-widget stButton"] {
    width: 100%;
    display: flex;
    justify-content: center;
}

div[data-testid=stImage] {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.stSelectbox label {
    display: block;
    text-align: center;
    font-size: calc(1vw + 15px);
    font-weight: bold;
}

.git_link {
    text-align: center;
}

#ghcard-oct4pie-1 {
    display: none;
    justify-content: center;
}

html {
    overflow: scroll !important;
}